<h1>Welcome to YelpDemo!</h1>

<p>Lorem ipsum dolor sit amet consectetur<%= link_to "BaseRails", "http://www.baserails.com"  %> <a href="http://www.baserails.com" target="_blank">adipisicing </a> elit. Repellendus, ea dolorum laborum doloribus obcaecati nesciunt doloremque in vel labore, necessitatibus magnam provident suscipit alias, illo eaque dolor non eius reiciendis cumque porro? Unde impedit blanditiis, accusantium nostrum dolor pariatur assumenda ad quo. Natus hic explicabo ipsum tempora accusamus eum in quam, voluptatem corrupti eius soluta, incidunt ducimus sequi, cum praesentium ex quis nam veritatis! Debitis, impedit soluta minima praesentium maiores, explicabo mollitia. Quas cum nisi ratione, dolor odio reprehenderit fugiat cupiditate, tempora minus voluptate praesentium rerum porro officia doloremque eos commodi, totam enim. Repellendus similique fugiat, dolores, repellat optio ut.</p>


